@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins;
}

body{
    background-color: rgb(219, 159, 159);
}

.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 5vh 7%;
    background-color: antiquewhite;
}

.reg{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-right: 30px;
}